emblempicker flowbox {
	padding: 6px;
}

emblempicker emblem.supported {
	border-radius: 9px;
}

emblempicker emblem.unsupported:first-child {
	border-radius: 9px 9px 0 0;
}

emblempicker emblem.unsupported:last-child {
	border-radius: 0 0 9px 9px;
}

emblempicker emblem .emblem-image {
	padding: 5px;
}

emblempicker emblem .emblem-name {
	padding: 1.5em;
	font-family: monospace;
	font-size: 12px;
}

emblempicker emblem:indeterminate {
	background-color: rgba(53, 132, 228, .175);
}

emblempicker emblem:selected {
	background-color: rgba(53, 132, 228, .35);
}

emblempicker emblem:focus-visible {
	box-shadow: inset 0 0 0 3px #8db8ec;
}
  				  
emblempicker emblem.unsupported label.change-indicator {
	margin-right: 12px;
}
  				  
emblempicker label.change-indicator {
	color: rgba(0, 0, 0, .4);
}

emblempicker button.action {
	padding: 10px 14px;
	margin: 6px;
}

emblempicker button.action .title {
	font-family: "Cantarell";
	font-weight: normal;
	padding: 0;
}

emblempicker button.action .subtitle {
	font-family: "Cantarell";
	font-weight: normal;
	font-size: 0.8333em;
	opacity: .55;
	padding: 0;
}
