/*

Please bear in mind that this CSS affects the entire screen, not just the
annotations window, so be careful with wildcard selectors.

For information about Nautilus Annotations' DOM tree and all available
selectors please refer to `/usr/share/doc/nautilus-annotations/styling.md`.

*/

dialog.nautilus-annotations-dialog,
dialog.nautilus-annotations-dialog .titlebar {
	border: none;
	background-image: none;
	background-color: rgba(0, 0, 0, .85);
	color: #fff;
}

dialog.nautilus-annotations-dialog selection {
	background-image: none;
	background-color: #fff;
	color: #474747;
}

dialog.nautilus-annotations-dialog text,
dialog.nautilus-annotations-dialog button {
	background-image: none;
	background-color: transparent;
	color: #fff;
}

dialog.nautilus-annotations-dialog button.close {
	color: #c1c1c1;
	border: none;
	box-shadow: none;
}

dialog.nautilus-annotations-dialog button.nautilus-annotations-discard {
	padding: 1px 7px;
	border: none;
	background-color: rgba(255, 255, 255, .2);
	box-shadow: 0 0 1px 2px rgba(255, 255, 255, .2);
	color: #fff;
	transition: background-color .3s 0s linear, box-shadow  .3s 0s linear;
}

dialog.nautilus-annotations-dialog button.nautilus-annotations-discard:hover {
	background-color: rgba(255, 255, 255, .4);
	box-shadow: 0 0 1px 2px rgba(255, 255, 255, .4);
	transition: background-color 1s 0s linear, box-shadow  1s 0s linear;
}

textview.nautilus-annotations-view {
	font-family: monospace;
	padding: 0;
}
