/*

Please bear in mind that this CSS affects the entire screen, not just the
annotations window, so be careful with wildcard selectors.

For information about Nautilus Annotations' DOM tree and all available
selectors please refer to `/usr/share/doc/nautilus-annotations/styling.md`.

*/

window.nautilus-annotations-dialog {
	border: none;
	background-color: transparent;
	background-image: none;
	color: #000;
}

window.nautilus-annotations-dialog .titlebar {
	border: none;
	background-color: rgba(255, 255, 255, .95);
	background-image:
		linear-gradient(to right, transparent 59px, #abced4 59px, #abced4 61px, transparent 61px);
	background-position: left top;
	color: #000;
	box-shadow: none;
	margin: 0;
}

window.nautilus-annotations-dialog selection {
	background-image: none;
	background-color: rgba(255, 255, 0, .2);
	color: #000;
}

window.nautilus-annotations-dialog text,
window.nautilus-annotations-dialog button {
	background-image: none;
	background-color: transparent;
	color: #000;
}

window.nautilus-annotations-dialog button.close {
	color: #000;
	border: none;
	box-shadow: none;
}

window.nautilus-annotations-dialog button.nautilus-annotations-discard {
	padding: 1px 7px;
	border: none;
	background-image: none;
	background-color: rgba(255, 255, 0, .2);
	box-shadow: 0 0 2px 2px rgba(255, 255, 0, .2);
	color: #000;
	font-family: monospace;
	font-size: .85em;
	transition: background-color .3s 0s linear, box-shadow  .3s 0s linear;
}

window.nautilus-annotations-dialog button.nautilus-annotations-discard:hover {
	background-color: rgba(255, 255, 0, .4);
	box-shadow: 0 0 2px 2px rgba(255, 255, 0, .4);
	transition: background-color 1s 0s linear, box-shadow  1s 0s linear;
}

scrolledwindow.nautilus-annotations-scrollable {
	background-color: rgba(255, 255, 255, .95); 
	background-image:
		linear-gradient(to right, transparent 59px, #abced4 59px, #abced4 61px, transparent 61px),
		linear-gradient(to bottom, #eee .1em, transparent .1em);
	background-size: auto 1.2em;
	background-position: left top;
}

textview.nautilus-annotations-view {
	padding: .2em 0 0 65px;
	font-family: monospace;
	line-height: 1.2em;
	background-color: transparent; 
	background-image: none;
}
