/*

Please bear in mind that this CSS affects the entire screen, not just the
annotations window, so be careful with wildcard selectors.

For information about Nautilus Annotations' DOM tree and all available
selectors please refer to `/usr/share/doc/nautilus-annotations/styling.md`.

*/

window.nautilus-annotations-window {
	border: none;
	background-image: none;
	background-color: #fff394;
}

window.nautilus-annotations-window .titlebar {
	border: none;
	background-image: none;
	background-color: transparent;
	color: #ad5f00;
	box-shadow: none;
}

window.nautilus-annotations-window selection {
	background-image: none;
	background-color: #ad5f00;
	color: #fff394;
}

window.nautilus-annotations-window text,
window.nautilus-annotations-window button {
	background-image: none;
	background-color: transparent;
	color: #ad5f00;
}

window.nautilus-annotations-window button.close {
	color: #cc0000;
	border: none;
	box-shadow: none;
}

window.nautilus-annotations-window button.nautilus-annotations-discard {
	padding: 0 6px;
	background-color: #ad5f00;
	color: #fff394;
	font-weight: normal;
	border: none;
	box-shadow: 0 0 2px 2px #ad5f00;
}

textview.nautilus-annotations-view {
	font-family: monospace;
	padding: 0;
	background-image: none;
	background-color: transparent;
	color: #ad5f00;
}

window.nautilus-annotations-window button.nautilus-annotations-add-emblem-button:checked {
	background: rgba(0, 0, 0, .1);
}

revealer.nautilus-annotations-emblems {
	background-color: #efe486;
	box-shadow: 6px 6px 15px 0 rgba(0, 0, 0, .1);
	border-radius: 0 0 12px 12px;
}
