/*

Please bear in mind that this CSS affects the entire screen, not just the
annotations window, so be careful with wildcard selectors.

For information about Nautilus Annotations' DOM tree and all available
selectors please refer to `/usr/share/doc/nautilus-annotations/styling.md`.

*/

window.nautilus-annotations-dialog {
	border: none;
	background-image: none;
	background-color: #fff394;
}

window.nautilus-annotations-dialog .titlebar {
	border: none;
	background-image: none;
	background-color: transparent;
	color: #ad5f00;
	box-shadow: none;
}

window.nautilus-annotations-dialog selection {
	background-image: none;
	background-color: #ad5f00;
	color: #fff394;
}

window.nautilus-annotations-dialog text,
window.nautilus-annotations-dialog button {
	background-image: none;
	background-color: transparent;
	color: #ad5f00;
}

window.nautilus-annotations-dialog button.close {
	color: #cc0000;
	border: none;
	box-shadow: none;
}

window.nautilus-annotations-dialog button.nautilus-annotations-discard {
	padding: 0 6px;
	background-color: #ad5f00;
	color: #fff394;
	border: none;
	box-shadow: 0 0 2px 2px #ad5f00;
}

textview.nautilus-annotations-view {
	font-family: monospace;
	padding: 0;
	background-image: none;
	background-color: transparent;
	color: #ad5f00;
}
